* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background-color: #ffe553;
  color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  height: 400px;
  width: 350px;
  border: 5px solid #ffffff;
  padding: 20px 30px;
  border-radius: 80px 30px 80px 30px;
  background-color: #4f78ff;
  margin-bottom: 20px;
}
.container h1 {
  font-size: 34px;
}
.container p {
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0.5px;
}
.container .guessBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.container .guessBox label,
input,
.btn {
  margin-bottom: 10px;
}

.container .guessBox input {
  background: transparent;
  border: 1px solid #fafafa;
  outline: none;
  padding: 5px 20px;
  border-radius: 10px;
  cursor: pointer;
  color: #fafafa;
  transition: 0.3s;
  border-radius: 80px 30px 80px 30px;
}

.container .guessBox input:hover {
  transform: scale(1.1);
  background-color: #2d302f1a;
}

.container .guessBox .btn {
  padding: 5px 20px;
  font-size: 18px;
  color: #fafafa;
  font-weight: bold;
  transition: 0.3s;
  margin-top: 30px;
  border-radius: 80px 30px 80px 30px;
}
.container .guessBox .btn:hover {
  transform: scale(1.1);
  background-color: #2d302f1a;
}
.container .guessBox .btn:active {
  transform: scale(0.95);
}

#playControl {
  border: none;
  color: #4f78ff;
  font-size: 50px;
  text-align: center;
}
#play,
#pause {
  position: absolute;
  transform: translateX(-50%);
}
#play {
  z-index: -1;
  visibility: hidden;
}
